.Welcome {
  // height: 100vh;
  padding: 120px 0;
  color: white;
  // background-image: url("../../../assets/d7e94b75022ec6cdde55901635c91f2f.jpg");
  background-size: cover;

  box-shadow: inset 0 0 200px #000000, inset 0 0 300px #000000,
    inset 0 0 400px #000000;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 10px;

      h5 {
        color: rgb(3, 191, 248);
        font-size: 20px;
      }

      h1 {
        font-size: 50px;
      }
      h2 {
        color: rgb(207, 236, 250);
        text-shadow: 0 0 10px #17b902, 0 0 20px #17b902, 0 0 30px #17b902;
        font-size: 35px;
      }

      p {
        font-size: 18px;
        width: 80%;
        margin-top: 20px;
        color: rgb(255, 255, 254);
        text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 10px;

        .telegram {
          border-radius: 50px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          font-size: 40px;
          transition: 0.4s;
          &:hover {
            background: #17b902;
            box-shadow: 0 0 20px #17b902, 0 0 30px #17b902, 0 0 40px #17b902;
            color: rgb(9, 28, 46);
            transition: 0.4s;
          }
        }
      }
    }
    .image {
      img {
        width: 400px;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px #17b902, 0 0 20px #17b902, 0 0 30px #17b902;
      }
    }
  }
  .images {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 0px 50px;
    margin-top: 40px;

    .stack1 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: #fd6601;
        box-shadow: 0 0 10px #fd6601, 0 0 20px #fd6601, 0 0 30px #fd6601;
        color: rgb(9, 28, 46);
        border: solid 3px yellow;
        transition: 0.4s;
      }
    }
    ////////
    .stack2 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: #0198fd;
        box-shadow: 0 0 10px #01fdf0, 0 0 20px #01fdf0, 0 0 30px #01fdf0;
        color: rgb(9, 28, 46);
        border: solid 3px #84f5ef;
        transition: 0.4s;
      }
    }
    ////////
    .stack3 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: #fde401;
        box-shadow: 0 0 10px #fde401, 0 0 20px #fde401, 0 0 30px #fde401;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
    }

    ////////
    .stack4 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
        color: rgb(9, 28, 46);
        border: solid 3px aqua;
        transition: 0.4s;
      }
    }
    ////////
    .stack5 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: #fd01e8;
        box-shadow: 0 0 10px #fd01e8, 0 0 20px #fd01e8, 0 0 30px #fd01e8;
        color: rgb(9, 28, 46);
        border: solid 3px rgb(235, 158, 222);
        transition: 0.4s;
      }
    }

    ////////
    .stack6 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
        color: rgb(9, 28, 46);
        border: solid 3px rgb(150, 175, 245);
        transition: 0.4s;
      }
    }
    ////////
    .stack7 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: #8301fd;
        box-shadow: 0 0 10px #8301fd, 0 0 20px #8301fd, 0 0 30px #8301fd;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
    }
    ////////
    .stack8 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: #fde401;
        box-shadow: 0 0 10px #fde401, 0 0 20px #fde401, 0 0 30px #fde401;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
    }

    //////
    .stack9 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
      &:hover {
        background: #b4b2b2;
        box-shadow: 0 0 10px #b4b2b2, 0 0 20px #b4b2b2, 0 0 30px #b4b2b2;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
    }

    //////
    .stack10 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
    }
    .stack10:hover {
      background: rgb(1, 1, 131);
      box-shadow: 0 0 10px rgb(1, 1, 131), 0 0 20px rgb(1, 1, 131),
        0 0 30px rgb(1, 1, 131);
      color: rgb(9, 28, 46);
      border: solid 3px rgb(57, 32, 196);
      transition: 0.4s;
    }
    //////
    .stack11 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
    }
    .stack11:hover {
      background: #27c201;
      box-shadow: 0 0 10px #27c201, 0 0 20px #27c201, 0 0 30px #27c201;
      color: rgb(9, 28, 46);
      border: solid 3px white;
      transition: 0.4s;
    }
    //////
    .stack12 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
    }
    .stack12:hover {
      background: #b4b2b2;
      box-shadow: 0 0 10px #b4b2b2, 0 0 20px #b4b2b2, 0 0 30px #b4b2b2;
      color: rgb(9, 28, 46);
      border: solid 3px #e3e3f5;
      transition: 0.4s;
    }
    //////
    .stack13 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
    }
    .stack13:hover {
      background: orangered;
      box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 30px orangered;
      color: rgb(9, 28, 46);
      border: solid 3px rgb(241, 191, 115);
      transition: 0.4s;
    }
    //////
    .stack14 {
      border-radius: 50px;
      border: solid 3px #40be0e;
      color: #40be0e;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      font-size: 40px;
      transition: 0.4s;
    }
    .stack14:hover {
      background: rgb(0, 183, 255);
      box-shadow: 0 0 10px rgb(0, 183, 255), 0 0 20px rgb(0, 183, 255),
        0 0 30px rgb(0, 183, 255);
      color: rgb(9, 28, 46);
      border: solid 3px rgb(117, 211, 248);
      transition: 0.4s;
    }
    //////
  }
}

@media (max-width: 1200px) {
  .Welcome {
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      .text {
        h5 {
          font-size: 20px;
        }

        h1 {
          font-size: 45px;
        }
        h2 {
          font-size: 27px;
        }

        p {
          font-size: 18px;
          width: 100%;
          margin-top: 20px;
        }
        .icons {
          display: flex;
          align-items: center;
          gap: 10px;

          .telegram {
            border-radius: 50px;
            width: 50px;
            height: 50px;
            font-size: 40px;
          }
          .telegram:hover {
          }
        }
      }
      .image {
        img {
          width: 400px;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .Welcome {
    box-shadow: inset 0 0 100px #000000, inset 0 0 200px #000000,
      inset 0 0 300px #000000;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 30px;
      text-align: center;

      .text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        h5 {
          font-size: 20px;
        }

        h1 {
          font-size: 40px;
        }
        h2 {
          font-size: 34px;
        }

        p {
          font-size: 18px;
          width: 80%;
          margin-top: 20px;
        }
        .icons {
          display: flex;
          align-items: center;
          gap: 10px;

          .telegram {
            border-radius: 50px;
            width: 50px;
            height: 50px;
            font-size: 40px;
          }
          .telegram:hover {
          }
        }
      }
      .image {
        img {
          width: 400px;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .Welcome {
    padding: 0px 0;
    padding-top: 100px;
    box-shadow: inset 0 0 50px #000000, inset 0 0 100px #000000,
      inset 0 0 200px #000000;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 30px;
      text-align: center;

      .text {
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;
        background: red;
        width: 100%;

        h5 {
          font-size: 20px;
        }

        h1 {
          font-size: 35px;
        }
        h2 {
          font-size: 30px;
        }

        p {
          font-size: 14px;
          width: 100%;
          margin-top: 20px;
        }
        .icons {
          display: flex;
          align-items: center;
          gap: 10px;

          .telegram {
            border-radius: 50px;
            width: 40px;
            height: 40px;
            font-size: 30px;
          }
          .telegram:hover {
          }
        }
      }
      .image {
        img {
          width: 350px;
          height: 100%;
        }
      }
    }
    .images {
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      padding: 20px;

      .stack1 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack1:hover {
        background: #fd6601;
        box-shadow: 0 0 10px #fd6601, 0 0 20px #fd6601, 0 0 30px #fd6601;
        color: rgb(9, 28, 46);
        border: solid 3px yellow;
        transition: 0.4s;
      }
      ////////
      .stack2 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack2:hover {
        background: #0198fd;
        box-shadow: 0 0 10px #01fdf0, 0 0 20px #01fdf0, 0 0 30px #01fdf0;
        color: rgb(9, 28, 46);
        border: solid 3px #84f5ef;
        transition: 0.4s;
      }
      ////////
      .stack3 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack3:hover {
        background: #fde401;
        box-shadow: 0 0 10px #fde401, 0 0 20px #fde401, 0 0 30px #fde401;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      ////////
      .stack4 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack4:hover {
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
        color: rgb(9, 28, 46);
        border: solid 3px aqua;
        transition: 0.4s;
      }
      ////////
      .stack5 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack5:hover {
        background: #fd01e8;
        box-shadow: 0 0 10px #fd01e8, 0 0 20px #fd01e8, 0 0 30px #fd01e8;
        color: rgb(9, 28, 46);
        border: solid 3px rgb(235, 158, 222);
        transition: 0.4s;
      }
      ////////
      .stack6 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack6:hover {
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
        color: rgb(9, 28, 46);
        border: solid 3px rgb(150, 175, 245);
        transition: 0.4s;
      }
      ////////
      .stack7 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack7:hover {
        background: #8301fd;
        box-shadow: 0 0 10px #8301fd, 0 0 20px #8301fd, 0 0 30px #8301fd;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      ////////
      .stack8 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack8:hover {
        background: #fde401;
        box-shadow: 0 0 10px #fde401, 0 0 20px #fde401, 0 0 30px #fde401;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      //////
      .stack9 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack9:hover {
        background: #b4b2b2;
        box-shadow: 0 0 10px #b4b2b2, 0 0 20px #b4b2b2, 0 0 30px #b4b2b2;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      //////
      .stack10 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack10:hover {
        background: rgb(1, 1, 131);
        box-shadow: 0 0 10px rgb(1, 1, 131), 0 0 20px rgb(1, 1, 131),
          0 0 30px rgb(1, 1, 131);
        color: rgb(9, 28, 46);
        border: solid 3px rgb(57, 32, 196);
        transition: 0.4s;
      }
      //////
      .stack11 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack11:hover {
        background: #27c201;
        box-shadow: 0 0 10px #27c201, 0 0 20px #27c201, 0 0 30px #27c201;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      //////
      .stack12 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack12:hover {
        background: #b4b2b2;
        box-shadow: 0 0 10px #b4b2b2, 0 0 20px #b4b2b2, 0 0 30px #b4b2b2;
        color: rgb(9, 28, 46);
        border: solid 3px #e3e3f5;
        transition: 0.4s;
      }
      //////
      .stack13 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack13:hover {
        background: orangered;
        box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 30px orangered;
        color: rgb(9, 28, 46);
        border: solid 3px rgb(241, 191, 115);
        transition: 0.4s;
      }
      //////
      .stack14 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        margin-top: 1px;
      }
      .stack14:hover {
        background: rgb(0, 183, 255);
        box-shadow: 0 0 10px rgb(0, 183, 255), 0 0 20px rgb(0, 183, 255),
          0 0 30px rgb(0, 183, 255);
        color: rgb(9, 28, 46);
        border: solid 3px rgb(117, 211, 248);
        transition: 0.4s;
      }
      //////
    }
  }
}

@media (max-width: 400px) {
  .Welcome {
    padding: 0px 0;
    padding-top: 100px;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 30px;
      text-align: center;

      .text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        h5 {
          font-size: 20px;
        }

        h1 {
          font-size: 28px;
        }
        h2 {
          font-size: 18px;
        }

        p {
          font-size: 12px;
          width: 80%;
          margin-top: 20px;
        }
        .icons {
          display: flex;
          align-items: center;
          gap: 10px;

          .telegram {
            border-radius: 50px;
            width: 40px;
            height: 40px;
            font-size: 30px;
          }
          .telegram:hover {
          }
        }
      }
      .image {
        img {
          width: 240px;
          height: 100%;
        }
      }
    }
    .images {
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      padding: 20px;

      .stack1 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack1:hover {
        background: #fd6601;
        box-shadow: 0 0 10px #fd6601, 0 0 20px #fd6601, 0 0 30px #fd6601;
        color: rgb(9, 28, 46);
        border: solid 3px yellow;
        transition: 0.4s;
      }
      ////////
      .stack2 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack2:hover {
        background: #0198fd;
        box-shadow: 0 0 10px #01fdf0, 0 0 20px #01fdf0, 0 0 30px #01fdf0;
        color: rgb(9, 28, 46);
        border: solid 3px #84f5ef;
        transition: 0.4s;
      }
      ////////
      .stack3 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack3:hover {
        background: #fde401;
        box-shadow: 0 0 10px #fde401, 0 0 20px #fde401, 0 0 30px #fde401;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      ////////
      .stack4 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack4:hover {
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
        color: rgb(9, 28, 46);
        border: solid 3px aqua;
        transition: 0.4s;
      }
      ////////
      .stack5 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack5:hover {
        background: #fd01e8;
        box-shadow: 0 0 10px #fd01e8, 0 0 20px #fd01e8, 0 0 30px #fd01e8;
        color: rgb(9, 28, 46);
        border: solid 3px rgb(235, 158, 222);
        transition: 0.4s;
      }
      ////////
      .stack6 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack6:hover {
        background: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
        color: rgb(9, 28, 46);
        border: solid 3px rgb(150, 175, 245);
        transition: 0.4s;
      }
      ////////
      .stack7 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack7:hover {
        background: #8301fd;
        box-shadow: 0 0 10px #8301fd, 0 0 20px #8301fd, 0 0 30px #8301fd;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      ////////
      .stack8 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack8:hover {
        background: #fde401;
        box-shadow: 0 0 10px #fde401, 0 0 20px #fde401, 0 0 30px #fde401;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      //////
      .stack9 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack9:hover {
        background: #b4b2b2;
        box-shadow: 0 0 10px #b4b2b2, 0 0 20px #b4b2b2, 0 0 30px #b4b2b2;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      //////
      .stack10 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack10:hover {
        background: rgb(1, 1, 131);
        box-shadow: 0 0 10px rgb(1, 1, 131), 0 0 20px rgb(1, 1, 131),
          0 0 30px rgb(1, 1, 131);
        color: rgb(9, 28, 46);
        border: solid 3px rgb(57, 32, 196);
        transition: 0.4s;
      }
      //////
      .stack11 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack11:hover {
        background: #27c201;
        box-shadow: 0 0 10px #27c201, 0 0 20px #27c201, 0 0 30px #27c201;
        color: rgb(9, 28, 46);
        border: solid 3px white;
        transition: 0.4s;
      }
      //////
      .stack12 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack12:hover {
        background: #b4b2b2;
        box-shadow: 0 0 10px #b4b2b2, 0 0 20px #b4b2b2, 0 0 30px #b4b2b2;
        color: rgb(9, 28, 46);
        border: solid 3px #e3e3f5;
        transition: 0.4s;
      }
      //////
      .stack13 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack13:hover {
        background: orangered;
        box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 30px orangered;
        color: rgb(9, 28, 46);
        border: solid 3px rgb(241, 191, 115);
        transition: 0.4s;
      }
      //////
      .stack14 {
        border-radius: 50px;
        border: solid 3px #40be0e;
        color: #40be0e;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 35px;
        margin-top: 10px;
      }
      .stack14:hover {
        background: rgb(0, 183, 255);
        box-shadow: 0 0 10px rgb(0, 183, 255), 0 0 20px rgb(0, 183, 255),
          0 0 30px rgb(0, 183, 255);
        color: rgb(9, 28, 46);
        border: solid 3px rgb(117, 211, 248);
        transition: 0.4s;
      }
      //////
    }
  }
}
